.button {
  margin: 0;

  font-family: $heading-font;
  letter-spacing: rem-calc(1);
  text-transform: uppercase;

  background-color: transparent;
  border: rem-calc(2) solid $teal;
  color: $teal;

  &:hover {
    background-color: $teal;
    color: $white;
  }

  &__down {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0;
    width: 100%;

    flex: none;

    background: transparent;
    border: 0;
    border-radius: 0;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      background-color: rgba(0,0,0,0.2);
    }
  }

  &--social.small {
    padding: rem-calc(11) rem-calc(22) rem-calc(12) rem-calc(22);

    font-size: rem-calc(18);
  }

  &.secondary {
    background: transparent;
    border-color: darken($gray, 25%);
    color: darken($gray, 25%);

    &:hover {
      background-color: darken($gray, 25%);
    }
  }
}
