.section {
  position: relative;

  display: flex;
  padding: ($default-space * 1.5);

  align-items: center;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  background: $white;
  color: $white;

  @media #{$large-up} {
    padding: ($default-space * 3);
  }

  &--home {
    height: 100vh;
    padding: 0;

    background: url('../img/space-bg.png') no-repeat center;
    // background-attachment: fixed;
    background-size: cover;

    &__logo {
      height: rem-calc(98);
      margin: 0 auto $default-space;
      width: rem-calc(275);

      text-indent: rem-calc(-9999);

      background: url('../img/logo.png') no-repeat center;
      background-size: contain;

      color: transparent;

      @media #{$medium-up} {
        margin-bottom: ($default-space * 1.5);
        width: rem-calc(350);
      }
    }

    .section__content {
      align-items: center;
      justify-content: center;
    }

    &__description {
      margin: 0 auto $default-space;
      max-width: rem-calc(300);
      padding: 0 $default-space;

      text-align: center;

      color: $yellow;

      &:before {
        content: "";

        display: block;
        height: rem-calc(2);
        margin: 0 auto $default-space;
        width: rem-calc(150);

        background-color: $yellow;
      }

      @media #{$medium-up} {
        max-width: rem-calc(500);

        &:before {
          margin-bottom: ($default-space * 1.5);
        }
      }
    }

    .section--home__date {
      font-size: rem-calc(28);
    }
  }

  &--about {
    background-color: $lavender;

    .button {
      border-color: $white;
      color: $white;

      &:hover {
        background-color: $white;
        color: $lavender;
      }
    }
  }

  &--sponsors {
    background-color: $teal;

    .button {
      border-color: $white;
      color: $white;

      &:hover {
        background-color: $white;
        color: $teal;
      }
    }
  }

  &--faq {
    background-color: $dark-gray;
    color: fade-out($white, 0.3);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
    }

    hr {
      margin: $default-space 0;

      border-color: rgba(0,0,0,0.15);

      @media #{$medium-up} {
        margin: ($default-space * 1.5) 0;
      }
    }
  }

  header {
    flex: none;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
    }

    h1 {
      margin: 0 0 $default-space;

      line-height: 1;
    }
  }

  &__content {
    display: flex;
    margin-bottom: $default-space;

    flex: 1 0 auto;
    flex-direction: column;

    text-align: center;
  }

  footer {
    flex: none;
  }
}
