.section {
  position: relative;

  display: flex;
  padding: ($default-space * 1.5);

  flex-direction: column;
  justify-content: center;

  text-align: center;

  background-color: $gray;
  color: fade-out($white, 0.3);

  @media #{$large-up} {
    padding: ($default-space * 3);
  }

  &--about {
    padding: rem-calc(20);
    .meetings {
      color: #fff;
    }
  }

  &--home {
    // padding: 0;

    background: url('../img/space-bg.png') no-repeat center;
    // background-attachment: fixed;
    background-size: cover;

    &__logo {
      height: rem-calc(98);
      margin: 0 auto $default-space;
      width: rem-calc(275);

      text-indent: rem-calc(-9999);

      background: url('../img/logo.png') no-repeat center;
      background-size: contain;

      color: transparent;

      @media #{$medium-up} {
        margin-bottom: ($default-space * 1.5);
        width: rem-calc(350);
      }
    }

    .section__content {
      align-items: center;
      justify-content: center;
    }

    p.lead {
      font-family: $heading-font;
      letter-spacing: rem-calc(1);
      text-transform: uppercase;
    }

    &__description {
      margin: 0 auto $default-space;
      max-width: rem-calc(300);
      padding: 0 $default-space;

      text-align: center;

      color: $yellow;

      &:before {
        content: "";

        display: block;
        height: rem-calc(2);
        margin: 0 auto $default-space;
        width: rem-calc(150);

        background-color: $yellow;
      }

      @media #{$medium-up} {
        max-width: rem-calc(500);

        &:before {
          margin-bottom: ($default-space * 1.5);
        }
      }
    }

    .section--home__date {
      font-size: rem-calc(28);
    }
  }

  header {
    flex: none;

    h1 {
      margin: 0 0 ($default-space * 1.5);

      line-height: 1;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  hr {
    margin: $default-space 0;

    border-color: rgba(0,0,0,0.15);

    @media #{$medium-up} {
      margin: ($default-space * 1.5) 0;
    }
  }

  &__content {
    display: flex;
    margin-bottom: $default-space;
    width: 100%;

    flex: 1 0 auto;
    flex-direction: column;
  }

  footer {
    flex: none;
  }
}

.social-icons {
  .links {
    a {
      text-decoration: none;
      border: none;
      color: #fff;
      font-size: 50px;
      &:hover {
        color: #aaa;
      }
    }
    margin-bottom: 20px;
  }
}
