.no-margin {
  margin: 0 !important;

  &--top {
    margin-top: 0 !important;
  }

  &--right {
    margin-top: 0 !important;
  }

  &--bottom {
    margin-bottom: 0 !important;
  }

  &--left {
    margin-left: 0 !important;
  }
}

.margin {
  margin: $default-space !important;

  &--top {
    margin-top: $default-space !important;
    &--half {
      margin-top: ($default-space / 2) !important;
    }
  }

  &--right {
    margin-right: $default-space !important;
    &--half {
      margin-right: ($default-space / 2) !important;
    }
  }

  &--bottom {
    margin-bottom: $default-space !important;
    &--half {
      margin-bottom: ($default-space / 2) !important;
    }
  }

  &--left {
    margin-left: $default-space !important;
    &--half {
      margin-left: ($default-space / 2) !important;
    }
  }
}

.no-float {
  float: none !important;
}

.padding {
  padding: $default-space !important;
}
.no-padding {
  padding: 0 !important;
}

.row--full-width {
  max-width: 100%;
  max-width: 100vw;
}

.row-padding {
  padding-top:    $default-space;
  padding-bottom: $default-space;

  &--double {
    padding-top:    $default-space * 2;
    padding-bottom: $default-space * 2;
  }
}

.ellipsis-overflow {
  overflow: hidden;

  text-overflow: ellipsis;
  word-wrap: none;
}

.true-inline-list {
  margin: 0 auto 1.0625rem auto;
  margin-left:  -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  li {
    list-style: none;
    display: inline-block;
    margin-left: 1.375rem;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.faq-columns {
  column-count: 1;
  column-gap: ($default-space / 2);

  @media #{$medium-up} {
    column-count: 2;
    column-gap: $default-space;
  }

  @media #{$large-up} {
    column-count: 3;
  }

  .faq {
    position: relative;

    display: inline-block;
    margin-bottom: ($default-space / 2);
    padding: $default-space;
    width: 100%;

    text-align: center;

    border: rem-calc(1) solid rgba(0,0,0,0.15);

    @media #{$medium-up} {
      margin-bottom: $default-space;
    }

    h3 {
      font-size: rem-calc(22);
      letter-spacing: rem-calc(1)
    }
  }
}

@media #{$small-only} {
  .small-only {
    &--no-margin {
      margin: 0 !important;

      &--top {
        margin-top: 0 !important;
      }

      &--right {
        margin-top: 0 !important;
      }

      &--bottom {
        margin-bottom: 0 !important;
      }

      &--left {
        margin-left: 0 !important;
      }
    }

    &--margin {
      margin: $default-space !important;

      &--top {
        margin-top: $default-space !important;
        &--half {
          margin-top: ($default-space / 2) !important;
        }
      }

      &--right {
        margin-right: $default-space !important;
        &--half {
          margin-right: ($default-space / 2) !important;
        }
      }

      &--bottom {
        margin-bottom: $default-space !important;
        &--half {
          margin-bottom: ($default-space / 2) !important;
        }
      }

      &--left {
        margin-left: $default-space !important;
        &--half {
          margin-left: ($default-space / 2) !important;
        }
      }
    }

    &--no-float {
      float: none !important;
    }

    &--padding {
      padding: $default-space !important;
    }

    &--no-padding {
      padding: 0 !important;
    }

    &--row-padding {
      padding-top:    $default-space;
      padding-bottom: $default-space;
      &--double {
        padding-top:    ($default-space * 2);
        padding-bottom: ($default-space * 2);
      }
    }
  }
}

@media #{$medium-up} {
  .medium-up {
    &--no-margin {
      margin: 0 !important;

      &--top {
        margin-top: 0 !important;
      }

      &--right {
        margin-top: 0 !important;
      }

      &--bottom {
        margin-bottom: 0 !important;
      }

      &--left {
        margin-left: 0 !important;
      }
    }

    &--margin {
      margin: $default-space !important;

      &--top {
        margin-top: $default-space !important;
        &--half {
          margin-top: ($default-space / 2) !important;
        }
      }

      &--right {
        margin-right: $default-space !important;
        &--half {
          margin-right: ($default-space / 2) !important;
        }
      }

      &--bottom {
        margin-bottom: $default-space !important;
        &--half {
          margin-bottom: ($default-space / 2) !important;
        }
      }

      &--left {
        margin-left: $default-space !important;
        &--half {
          margin-left: ($default-space / 2) !important;
        }
      }
    }

    &--no-float {
      float: none !important;
    }

    &--padding {
      padding: $default-space !important;
    }

    &--no-padding {
      padding: 0 !important;
    }

    &--row-padding {
      padding-top:    $default-space;
      padding-bottom: $default-space;
      &--double {
        padding-top:    ($default-space * 2);
        padding-bottom: ($default-space * 2);
      }
    }
  }
}

@media #{$medium-only} {
  .medium-only {
    &--no-margin {
      margin: 0 !important;
    }

    &--no-margin-top {
      margin-top: 0 !important;
    }

    &--no-margin-right {
      margin-top: 0 !important;
    }

    &--no-margin-bottom {
      margin-bottom: 0 !important;
    }

    &--no-margin-left {
      margin-left: 0 !important;
    }

    &--margin {
      margin: $default-space !important;
    }

    &--margin-top {
      margin-top: $default-space !important;
      &--half {
        margin-top: ($default-space / 2) !important;
      }
    }

    &--margin-right {
      margin-right: $default-space !important;
      &--half {
        margin-right: ($default-space / 2) !important;
      }
    }

    &--margin-bottom {
      margin-bottom: $default-space !important;
      &--half {
        margin-bottom: ($default-space / 2) !important;
      }
    }

    &--margin-left {
      margin-left: $default-space !important;
      &--half {
        margin-left: ($default-space / 2) !important;
      }
    }

    &--no-float {
      float: none !important;
    }

    &--padding {
      padding: $default-space !important;
    }

    &--no-padding {
      padding: 0 !important;
    }

    &--row-padding {
      padding-top:    $default-space;
      padding-bottom: $default-space;
      &--double {
        padding-top:    ($default-space * 2);
        padding-bottom: ($default-space * 2);
      }
    }
  }
}

@media #{$large-up} {
  .large-up {
    &--no-margin {
      margin: 0 !important;
    }

    &--no-margin-top {
      margin-top: 0 !important;
    }

    &--no-margin-right {
      margin-top: 0 !important;
    }

    &--no-margin-bottom {
      margin-bottom: 0 !important;
    }

    &--no-margin-left {
      margin-left: 0 !important;
    }

    &--margin {
      margin: $default-space !important;
    }

    &--margin-top {
      margin-top: $default-space !important;
      &--half {
        margin-top: ($default-space / 2) !important;
      }
    }

    &--margin-right {
      margin-right: $default-space !important;
      &--half {
        margin-right: ($default-space / 2) !important;
      }
    }

    &--margin-bottom {
      margin-bottom: $default-space !important;
      &--half {
        margin-bottom: ($default-space / 2) !important;
      }
    }

    &--margin-left {
      margin-left: $default-space !important;
      &--half {
        margin-left: ($default-space / 2) !important;
      }
    }

    &--no-float {
      float: none !important;
    }

    &--padding {
      padding: $default-space !important;
    }

    &--no-padding {
      padding: 0 !important;
    }

    &--row-padding {
      padding-top:    $default-space;
      padding-bottom: $default-space;
      &--double {
        padding-top:    ($default-space * 2);
        padding-bottom: ($default-space * 2);
      }
    }
  }
}
