<footer role="contentinfo">
  <img class="footer-logo" src="{{ site.url }}/assets/img/logo.png" alt="Knight Hacks">
  <p class="no-margin">&copy; {{ Date.now() | date('Y') }} Knight Hacks, unless otherwise stated</p>
  <p class="no-margin">
    <a rel="license" class="no-underline" href="http://creativecommons.org/licenses/by-sa/4.0/">
      <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
    </a>
  </p>
  <p class="no-margin">Tech Knights is a registered student organization at the University of Central Florida.</p>
  <p>tea<!-- -->m@knighthacks.org</p>
</footer>
