<nav class="nav-menu" role="navigation" aria-label="Menu">
  <button class="nav-menu__button" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="nav-menu__button__bar"></span>
    <span class="nav-menu__button__bar"></span>
    <span class="nav-menu__button__bar"></span>
  </button>

  <ul aria-hidden="true">
    <li><a href="/">Home</a></li>
    <li><a href="/events">Schedule</a></li>
    <li><a href="/workshops">Workshops</a></li>
    <li><a href="http://knighthacks.org">Hackathon</a></li>

    <li class="nav-menu__social">
      <a href="{{ site.socialLinks.facebook }}" target="_blank"><span class="icon-facebook"></span></a>
      <a href="{{ site.socialLinks.twitter }}" target="_blank"><span class="icon-twitter"></span></a>
      <a href="{{ site.socialLinks.github }}" target="_blank"><span class="icon-github-circled"></span></a>
    </li>
  </ul>
</nav>
