<header>
  <h1>Stay connected</h1>
</header>

<div class="social-icons">
  <div class="links">
    <a class="icon-facebook social" href="{{ site.socialLinks.facebook }}" target="_blank" title="Facebook"></a>
    <a class="icon-twitter social" href="{{ site.socialLinks.twitter }}" target="_blank" title="Twitter"></a>
    <a class="icon-github-circled social" href="{{ site.socialLinks.github }}" target="_blank" title="GitHub"></a>
    <a class="icon-instagram social" href="{{ site.socialLinks.instagram }}" target="_blank" title="Instagram"></a>
  </div>
  <div class="knightConnect">
    <a href="https://ucf.collegiatelink.net/organization/KnightHacks">Knight Connect</a>
  </div>
</div>
