---
title: Uh Oh
slug: 404
---

{% extends '../assets/templates/layout.html' %}

{% block title %}{{ page.title }}{% endblock %}


{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
<section class="section">
    <div class="mystery-location">
        <h1>Uh Oh,</h1>
        <p class="lead">
            It looks like you are trying to find something that doesn't exist around here.
            Let's take you back to <a href="http://knighthacks.org">safety.</a>
        </p>
    </div>
</section>
{% endblock %}
