{% extends './assets/templates/layout.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  <section id="home" class="section section--home">
    <div class="section__content no-margin">
      <h1 class="section--home__logo">{{ site.title }}</h1>

      <p class="section--home__description lead">{{ site.description }}</p>
    </div>
  </section>

  <section id="schedule" class="section section--schedule">
    <div class="section__content no-margin">
      <h1>Schedule</h1>

      <p>Schedule</p>
    </div>
  </section>
{% endblock %}
